@import '~antd/dist/antd.css';
// @import '~reset.css';

*{
    outline: none;
}

body,
html,   
#root,
.wrapper{
    min-height: 100vh;
    color: #202020;
    padding: 0;
    margin: 0;
    font-size: 14px; 
    line-height: 1; 
}

p{
    margin-bottom: 0;
}