@import '~antd/dist/antd.css';
@import 'layouts/chat';

*{
    outline: none;
}

body{
    background-color: #f4f7fd;
}

body,
html,   
#root,
.wrapper{
    min-height: 100vh;
    color: #202020;
    padding: 0;
    margin: 0;
    font-size: 14px; 
    line-height: 1; 
}

p{
    margin-bottom: 0;
}

.ant-btn-circle{
    border: 0;
    box-shadow: none;
    color: #020202 !important;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover{
        opacity: 1;
    }

    &:after{
        display: none;
    }
}